<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MUEBLES SHOP</title>
  <link rel="stylesheet" type="text/css" href="/style/inicio.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header fs-5">Registrar usuario</div>
            <div class="card-body">

              <div class="form-group row">
                <label for="emailuser" class="col-md-4 col-form-label text-end fw-light">Usuario:</label>
                <div class="col-md-6">
                  <input type="email" id="emailuser" class="form-control mb-2" placeholder="Ingrese usuario">
                </div>
              </div>



          <div class="form-group row">
            <label for="emailusercon" class="col-md-4 col-form-label text-end fw-light">Confirmar Usuario:</label>
            <div class="col-md-6">
            <input type="email" id="emailusercon" class="form-control mb-2" placeholder="Confirme el usuario">
          </div>
          </div>


          <div class="form-group row">
            <label for="pwuser" class="col-md-4 col-form-label text-end fw-light">Contraseña:</label>
            <div class="col-md-6">
            <input type="password" id="pwuser" class="form-control mb-2" placeholder="Ingrese contraseña" pattern="^(?=.[A-Z])(?=.[!@#$%^&*()_+=[\]{}|\\,./?>])(?=.{14,})" required>
          </div>
        </div>

          <div class="form-group row">
            <label for="pwusercon" class="col-md-4 col-form-label text-end fw-light">Confirmar Contraseña:</label>
            <div class="col-md-6">
            <input type="password" id="pwusercon" class="form-control mb-2" placeholder="Confirme la contraseña" pattern="^(?=.[A-Z])(?=.[!@#$%^&*()_+=[\]{}|\\,./?>])(?=.{14,})" required>
          </div>
        </div>


        <div class="col-md-6 offset-md-4 mt-3">
              <input class="btn btn-primary" type="button" id="btncrear" value="Registrar">
              <input class="btn btn-secondary" type="button" value="volver al inicio" id="btnback">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

              
            
          
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script type="module" src="../Contollers/creacionperfiles.js"></script>
</body>
</html>
